<!DOCTYPE html>
<html ng-app='LunchCheck'>
   <head>
      <meta charset="utf-8">
      <script src="angular.min.js"></script>
      <script src="app.js"></script>
      <title>Lunch Checker</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="styles/bootstrap.min.css">
      <style>
         .message { font-size: 1.3em; font-weight: bold; }
      </style>
   </head>
   <body>
      <div ng-controller='LunchCheckController'  class="container">
         <h1 style="color:Blue;">Lunch Checker</h1>
         <div class="form-group">
            <!--Bonus: ng-style is for giving color to text and border-->
            <input id="lunch-menu" type="text" ng-model="list" ng-style="bordercolor"
               placeholder="List comma separated dishes you usually have for lunch"
               class="form-control">
         </div>
         <div class="form-group">
            <button ng-click="lunchCheck()" class="btn btn-default">Check If Too Much</button>
            <div class="form-group message" ng-style="msgcolor">
               {{sayMessage}}
            </div>
         </div>
      </div>
   </body>
</html>

